
:root{
    --bgcolor:rgb(0, 0, 0);
}
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--bgcolor);
  
}


#navbar{
    position: fixed;
    top:0;
    left:0;
    width:15vw;
    height:100vh;
    background-color: var(--bgcolor);
    border-right: 1px solid white;
    
}
.navigation-bar{
    display:flex;
    width:100%;
    height:100%;
    flex-direction: column;
    justify-content: space-around;
    gap:5px;
    align-items: flex-start;
    padding-bottom: 10px;
    padding-left: 20px;
    


}
.navigation-bar > div{
    display:flex;
    flex-direction: column;
    gap:15px;
}

.inverted_icons{
    filter: invert(1);
    height:40px;
    width:40px;
}
.naver{
  display: flex;
  gap: 15px;
  font-size: 1.2rem;  
  color: white;
}
#maincontent{
    width:80vw;
    max-height:100vh;
    margin-left: 17vw;
    overflow-y: scroll;
    color:white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    padding-right: 50px;
    padding-top:50px;
    padding-bottom: 50px;
    

}
#maincontent > div.card{
    background-color:rgb(240, 241, 241);
    border-radius: 10px;
    color:black;
    padding:10px;
    height: 300px;
    padding-right:5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top:10px;
    gap:10px;


}
.div.card .image_displayer{
    height:300px;
    width:40%;

}
div.card .bookcover{
    object-fit: cover;
    height: 300px;
    width:100%;
}


div.card .book_information{
    width:100%;
    height:300px;
    font-style: italic;
    font-family: cursive;
}
.logo-container img[alt="logo"]{
    filter: invert(1) brightness(1000%) contrast(100%);
    height:150px;
    width:150px;
    text-align: center;
}

